@import url("reset.css");
.qukuailianlist_content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 49%;
  box-sizing: border-box;
}
.qukuailianlist_content > div {
  overflow: scroll;
  height: 100%;
  box-sizing: border-box;
}
.qukuailianlist_content .qukuailian_list {
  display: -webkit-flex;
  width: 90%;
  margin: 0 auto;
  background: url(../img/leibiaoditu-img.png) no-repeat center center;
  background-size: 100% 100%;
  margin-bottom: 5%;
}
.qukuailianlist_content .qukuailian_list .jianchent {
  width: 2.13rem;
  position: relative;
  line-height: 1.8188rem;
  font-size: 1.2345rem;
  color: #04084b;
  background: url(../img/leibiaomingcheng-icon.png) no-repeat left top;
  background-size: 100%;
  text-align: center;
  top: 0px;
  margin: 0.6398rem .426rem;
}
.qukuailianlist_content .qukuailian_list .gongsiming {
  -webkit-flex: 1;
  position: relative;
}
.qukuailianlist_content .qukuailian_list .gongsiming .qukuailian_text {
  margin-top: 6%;
  margin-right: 10%;
  margin-bottom: 16%;
}
.qukuailianlist_content .qukuailian_list .gongsiming .qukuailian_text p {
  line-height: 0.9372rem;
  color: #fff;
  font-size: 0.5964rem;
  display: -webkit-flex;
}
.qukuailianlist_content .qukuailian_list .gongsiming .qukuailian_text p span {
  -webkit-flex: 1;
}
.qukuailianlist_content .qukuailian_list .gongsiming .qukuailian_text p span i {
  font-style: normal;
}
.qukuailianlist_content .qukuailian_list .gongsiming .qukuailian_text p span.xiaosize {
  font-size: .5112rem;
}
.qukuailianlist_content .qukuailian_list .gongsiming .shouquan {
  width: 4.686rem;
  text-align: center;
  font-size: 0.7668rem;
  color: #04084b;
  position: absolute;
  right: 14%;
  bottom: 4%;
  height: 1.9596rem;
  line-height: 1.678rem;
}
.qukuailianlist_content .qukuailian_list .gongsiming .shouquan.yi {
  background: url(../img/yishouquan-but.png) no-repeat;
  background-size: 100%;
  color: #00c0ff;
}
.qukuailianlist_content .qukuailian_list .gongsiming .shouquan.wei {
  background: url(../img/shouquanchakan-but.png) no-repeat;
  background-size: 100%;
}
.alert {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
}
.alert .alert_main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 9rem;
  background: url(../img/tankuang-layer.png) no-repeat center center;
  background-size: 100%;
}
.alert .alert_main .cuowu {
  display: inline-block;
  height: 0.9798rem;
  width: 0.9798rem;
  background: url(../img/guanbi-but.png) no-repeat center center;
  background-size: 100%;
  position: absolute;
  right: 10%;
  top: .426rem;
}
.alert .alert_main .text {
  color: #fff;
  font-size: .7668rem;
  text-align: center;
  line-height: 1.278rem;
  position: relative;
  top: 30%;
}
.alert .alert_main .fangwen {
  position: absolute;
  bottom: 10%;
  background: url(../img/fangweishouquan-but.png) no-repeat center center;
  width: 80%;
  background-size: 100% 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  /* height: 34px; */
  padding: .526rem 0;
  font-size: .7668rem;
  text-align: center;
  color: #04084b;
}
body {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
}
.qukuailian_bg {
  width: 100%;
  height: 100%;
  background: url(../img/qkl_bg_lg3.png) no-repeat;
  overflow: hidden;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}
.qkl_title_lg {
  position: relative;
}
.qkl_title {
  text-align: center;
  font-size: 1rem;
  color: #fff;
  margin-top: 2.2rem;
  position: absolute;
  left: 50%;
  margin-left: -4.6rem;
  z-index: 2;
}
.qkl_title .font_s1 {
  font-size: 1.26rem;
  margin-top: 0.8rem;
}
.qkl_title .font_s2 {
  font-size: 1.6rem;
  margin-top: 0.8rem;
}
.qkl_title_bg_circle {
  width: 9.625rem;
  height: 9.625rem;
  background: url(../img/diqiu.png) no-repeat;
  margin: 0 auto;
  position: absolute;
  top: 1rem;
  z-index: 1;
  left: 50%;
  margin-left: -4.5rem;
  background-size: 100% 100%;
  animation: myMove1 6s ease-in infinite;
  -webkit-animation: myMove1 6s ease-in infinite;
}
@keyframes myMove1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes myMove1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.left_xing {
  width: 5.625rem;
  height: 5.625rem;
  background: url(../img/liuxing.png) no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  left: -1rem;
}
.r_arr {
  width: 1.8rem;
  height: 1.8rem;
  background: url(../img/youfangkuai.png) no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  right: 0.3rem;
  top: 5rem;
  animation: myMove2 1s ease infinite alternate;
  -webkit-animation: myMove2 1s ease infinite  alternate;
}
@keyframes myMove2 {
  from {
    top: 5rem;
  }
  to {
    top: 5.2rem;
  }
}
@-webkit-keyframes myMove2 {
  from {
    top: 5rem;
  }
  to {
    top: 5.2rem;
  }
}
.l_arr {
  width: 2.8rem;
  height: 2.8rem;
  background: url(../img/zuofangkuai.png) no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  left: 0.3rem;
  top: 5rem;
  animation: myMove3 2s ease infinite alternate;
  -webkit-animation: myMove3 2s ease infinite  alternate;
}
@keyframes myMove3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes myMove3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.qkl_content {
  position: absolute;
  z-index: 5;
  top: 7.5rem;
  width: 90%;
  left: 5%;
}
.qkl_content .ipt_bg {
  width: 100%;
  height: 2.8rem;
  background: url(../img/chang-label.png) no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  position: relative;
  color: #b0c8d1;
  margin-bottom: 0rem;
}
.qkl_content .ipt_bg input {
  width: 83%;
  height: 47%;
  background: transparent;
  position: relative;
  left: 8%;
  top: 20%;
  border: 0;
  color: #b0c8d1;
  font-size: 0.7rem;
}
.qkl_content .ipt_bg .fdj {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  background: url(../img/fangdajing-icon.png) no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.qkl_content .ipt_bg select {
  width: 85%;
  height: 47%;
  background: transparent;
  position: relative;
  left: 8%;
  top: 20%;
  border: 0;
  color: #b0c8d1;
}
.qkl_content .btn_tijiao_bg {
  width: 50%;
  height: 2.8rem;
  background: url(../img/queren-but.png) no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  line-height: 2.8rem;
  text-align: center;
  margin: 0 auto;
  color: #04013c;
  font-weight: 600;
  font-size: 0.8rem;
}
.qkl_content .dxyzm_lr2 {
  width: 100%;
  height: 2.4rem;
  position: relative;
  color: #b0c8d1;
}
.qkl_content .dxyzm_lr2 .ipt_bg {
  width: 50%;
  height: 100%;
  background: url(../img/duan-label.png) no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  float: left;
  margin-left: 0%;
}
.qkl_content .dxyzm_lr2 .dxyzm_l {
  width: 70%;
  position: relative;
  top: 25%;
  left: 16%;
}
.qkl_content .dxyzm_lr2 .dxyzm_r {
  width: 45%;
  height: 95%;
  background: url(../img/duanxinyanzhengma.png) no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  border: none;
  text-align: center;
  float: right;
}
